.product{
    background: #F8FAFC;
    margin-top: 35px;
    margin-right: 35px;
    margin-bottom: 35px;
    border-radius: 25px;
    padding: 31px;
}
.product:hover{
    box-shadow: 0px 4px 45px #C3D4E4;
}

.product__header{
    justify-content: space-between;
}
.product__header_status{
    background: linear-gradient(261.65deg, #EFBB37 -3.95%, #CF9E1F 109.44%);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}
.product__header_status p{
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    padding: 5px 20px;
    text-transform: uppercase;
}

.product__header_img img{
    width: 256px;
    border-radius: 25px;
    
}
.product__header_libra{
    width: 46px;
    height: 46px;
    background: #FFFFFF;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    display: block;
    position: relative;
}

.product__header_libra:hover{
    box-shadow: 0px 0px 8px #bdd0e3;
    cursor: pointer;
}
.product__header_libra_img{
    width: 16px;
    height: 16px;
    background-image: url(../../common/style/images/Vector.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-8px, -8px);
}
.product__header_libra_active>.product__header_libra_img{
    width: 16px;
    height: 16px;
    background-image: url(../../common/style/images/vector1.png);
    background-position: center;
    background-size: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-8px, -8px);
}

/* product info */

.product__info__block{
    margin-top: 25px;
    margin-bottom: 20px;
    flex-direction: column;
    align-items: center;
}

.product__info_title{
    color: #2c2c2c;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 10px;
}

.product__info_description{
    font-family: 'SF UI Display Light';
    line-height: 24px;
    font-size: 16px;
    color: #2c2c2c;
}

/* select block */

.product__select_block{
    justify-content: space-between;
    margin-bottom: 10px;
}
.select_menu{
    flex-direction: column;
}
.select_color{
    width: 100%;
    background-color: #fff;
    border-radius: 30px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin-bottom: 18.3px;
    cursor: pointer;

}
.select_color p{
    font-size: 12px;
}
.select_color div{
    width: 7px;
    height: 7px;
    border-bottom: 1px solid #2c2c2c;
    border-right: 1px solid #2c2c2c;
    transform: rotate(45deg);
    

}
.price{
    font-family: 'SF UI Display Bold';
    font-size: 18px;
    line-height: 21px;
}


.select_volume{
    flex-direction: column;
}
.filter_wrapper{
    position: relative;
    display: block;
    margin-bottom: 14.5px;
}

.filter_wrapper>input{
    position: absolute;
    z-index: 10;
    left: 21px;
    opacity: 0;
    background-color: transparent;
    transform: scale(1.5);
    cursor: pointer;

}
.filter_wrapper>label{
    display: block;
    margin-left: 56px;
    color: #000;
    position: relative;
    font-size: 21px;
    font-weight: 300;
    
    
}
.filter_wrapper>label::before{
    content: "";
    display: block;
    width: 17px;
    height: 17px;
    border-radius: 5px;
    border: 2.5px solid #dedede;;
    position: absolute;
    background: #DEDEDE;
    top: 50%;
    transform: translatey(-11.5px);
    left: -36.5px;
}
.filter_wrapper>input[type="checkbox"]:checked + label::before{
    background: linear-gradient(261.65deg, #EFBB37 -3.95%, #CF9E1F 109.44%);
    transition: 0.1s linear;
}

/* order block */

.product__order_block{
    justify-content: space-between;
}
.product__counter{
    background: #E2E9F0;
    border-radius: 30px;
    margin-left: 10px;
}
.product__counter:hover{
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}
.product__counter_row{
    justify-content: space-evenly;
    align-items: baseline;
}
.product__counter_row p{
    padding-top: 8px;
    padding-bottom: 8px;
}
.decrement_btn, .increment_btn{
    width: 8px;
    height: 9px;
    position: relative;
    display: block;
    cursor: pointer;
}
.decrement_btn__inner, .increment_btn__inner{
    width: 9px;
    height: 1px;
    background-color: #2c2c2c;
    position: absolute;
    left: 0;
    top: 4px;
}

.increment_btn__inner::after{
    content: "";
    display: block;
    width: 1px;
    height: 9px;
    position: absolute;
    background-color: #2c2c2c;
    top: -4px;
    left: 4px;
}
.product__order_buy{
    margin-right: 42px;
}
.buy_btn{
    width: 100%;
    display: flex;
    background: linear-gradient(261.65deg, #EFBB37 -3.95%, #CF9E1F 109.44%);
    border-radius: 30px;
    padding: 9px 0;
    justify-content: center;
    cursor: pointer;
}
.buy_btn:hover{
    box-shadow: 0px 0px 20px #E8CB80;
    background: linear-gradient(261.65deg, #E9B32C -3.95%, #BF911A 109.44%);
}
.buy_btn:active{
    background: linear-gradient(261.65deg, #FFD773 -3.95%, #E2B645 109.44%);
}
.buy_btn p{
    font-family: 'SF UI Display Bold';
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
}


